name: TINI BACKEND CI - PR
on:
  pull_request:
    branches: ["develop", "master"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1. 체크아웃
      - name: Checkout
        uses: actions/checkout@v3
      #  JDK 21 설정
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      # Gradle build
      - name: Build with Gradle
        run: ./gradlew bootjar
