name: TINI BACKEND CI - PUSH
on:
  push:
    branches: [ "develop", "master" ]
    tags:
      - v.**

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1. 체크아웃
      - name: Checkout
        uses: actions/checkout@v3
      #  JDK 21 설정
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      # branch 이름 저장
      - name: 브랜치 네임 저장
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      # branch 태그 가져오기
      - name: 태그네임 가져오기
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
        id: tags

      # 브랜치 네임이 마스터일 경우에만 master 이름으로 지정하고 나머지는 develop 으로 지정한다.
      - name: 브랜치에 맞는 이미지 태그 지정 1
        uses: haya14busa/action-cond@v1
        id: cond_branch
        with:
          cond: ${{ steps.extract_branch.outputs.branch  == 'master'  }}
          if_true: 'master'
          if_false: 'develop'

      # Image Tag 생성 위한 github sha 저장
      - name: Image Tag 생성 위한 github sha 저장
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

      # Dockerhub에 로그인
      - name: DockerHub 에 로그인
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # docker metadata 설정
      - name: Docker Metadata action
        id: meta
        uses: docker/metadata-action@v5.3.0
        with:
          images: docker.io/dkyocn00/tini_backend

      # Docker buildx 설정
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.2.0

      # Gradle build
      - name: Build with Gradle
        run: ./gradlew bootjar

      # Docker Image 빌드 및 푸시
      - name: Build and push Docker images
        id: build
        uses: docker/build-push-action@v5.1.0
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            docker.io/dkyocn00/tini_backend:${{ steps.cond_branch.outputs.value }}
            docker.io/dkyocn00/tini_backend:${{ steps.cond_branch.outputs.value}}-${{ env.COMMIT_SHORT_SHA }}
          labels: ${{ steps.meta.outputs.labels }}